{% extends 'base.html' %}
{% block title %}All Tracks{% endblock title %}

{% block styles %}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock styles %}

{% block main %}
{% include 'navbar.html' %}
<section>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid p-5 col-xxl-12">
            <h1 style="color: black;" href="#"><strong>All Tracks</strong></h1>
            <div>
                <div>
                    <form class="d-flex">
                        <input class="form-control" type="text" placeholder="🔍Search Track" id="search-track">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</section>

{% for genre in genres.keys() %}
{% if genres[genre] %}
<section>
    <div class="container-fluid">
        <div class="row mt-4 cover-main p-5 m-3">
            <div class="d-flex  justify-content-between col-xxl-12">
                <div class="m-2 d-flex text-align-center">
                    <h2>{{ genre.title() }}</h2>
                </div>
            </div>


            <div class="scroll-main">
                {% for song in genres[genre] %}
                <div class="cover-main col-xxl-12 mt-4 d-flex justify-content-between all-tracks">
                    <div class="m-3 col-xxl-3">
                        <h4>{{ song['name'] }}</h4>
                    </div>
                    <div class="m-2 col-xxl-6 d-flex justify-content-around">
                        <a class="button" href="{{ url_for('lyrics', songid=song['id']) }}">View Lyrics</a>
                        <a class="button" href="{{ url_for('delete_song', songid=song['id']) }}">Delete</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% block script %}
<script src="{{ url_for('static', filename='admin_search.js') }}"></script>
{% endblock script %}
{% endblock main %}